# virtual environments
.venv3/
.venv2/

# python caches, pickle objects, zips...
__pycache__/
**/*.pkl
**/*.zip
**/*.pyc

# external data for evaluation purposes
data/SICK/
data/MEN/
data/exp2/embs/

# external code dependencies
skip_thoughts/
MantelTest/
InferSent/

# files produced by experiments
data/embs_exp2/
data/embs_exp3/
data/results_exp2/
data/trees_exp2/
data/results_exp3/
tmp*
